$dark: #374151;
$darker: #1f2937;
$darkest: #111827;
$grey: #6b7280;
$pink: #ec4899;
$purple: #8b5cf6;
$light: #eee;

.header {
  @apply py-8 px-4 w-full my-0 mx-auto;
  max-width: 800px;

  .h1 {
    @apply text-4xl mb-4;
    color: $grey;
  }
}
.main {
  @apply flex-1 w-full my-0 mx-auto;
  max-width: 800px;

  .parentTodos {
    @apply p-4;

    .h2Container {
      @apply flex justify-between;

      .h2 {
        @apply text-2xl mb-4 cursor-pointer hover:text-slate-800;
        color: $grey;
      }
    }
  }
}
